__pycache__/
*.py[cod]
Cpp/.vs
Cpp/Boost/.vs
Cpp/Boost/include/boost
Cpp/Eigen/.vs
Cpp/Eigen/doc
Cpp/Eigen/include/Eigen
Cpp/cpptest
Java/*.log
Java/bin
Java/out
Java/target
Python/src/__pycache__
Python/test/__pycache__
testdata
