cleanGeneratedFiles.sh
**/*.log
**/*.svg
**/*.dot
**/*.png
**/CMakeCache.txt
testdata
__pycache__/
*.py[cod]
Cpp/SQLiteCpp
Cpp/Eigen/FilteringEigen
Cpp/Eigen/include/polynomialfiltering/*
!Cpp/Eigen/include/polynomialfiltering/PolynomialFilteringEigen.hpp
Cpp/Eigen/src/polynomialfiltering/*
Cpp/Eigen/test/polynomialfiltering/*
Cpp/.vs
Cpp/Boost/.vs
Cpp/Boost/include/boost
Cpp/Eigen/.vs
Cpp/Eigen/doc
Cpp/Eigen/include/Eigen
Cpp/GSL
Cpp/cpptest
Cpp/Eigen/CMakeFiles
Cpp/Eigen/src/CMakeFiles
Cpp/Eigen/test/CMakeFiles
Cpp/Eigen/Makefile
Cpp/Eigen/cmake_install.cmake
Cpp/Eigen/test/Makefile
Cpp/Eigen/test/cmake_install.cmake
Cpp/Eigen/.vscode/
Cpp/Eigen/EigenTest
Cpp/Eigen/test/FilteringEigenTest
Cpp/Eigen/build
Java/*.log
Java/bin
Java/out
Java/target
Java/moduleChecksums.obj
Java/Ejml/src/polynomialfiltering/*
!Java/Ejml/src/polynomialfiltering/main/Utility.java
Java/Ejml/test/polynomialfiltering/*
Python/src/__pycache__
Python/test/__pycache__
Python/test/htmlcov
Python/test/Filtering.py
Tools/moduleChecksums.obj
Tools/out/symbols.txt
